{% extends 'base.html' %}

{% block head %}
  <title>Resume API</title>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Resume API</h2>
    <div class="row">
      <div class="col-md-6">
        <p>
          JSON Resume is a community driven open source initiative to create
          JSON-based standard for resumes. More information can be found at
          <a href="https://jsonresume.org/" target="_blank" rel="noopener noreferrer">https://jsonresume.org</a>.
        </p>
      </div>
    </div>
    <pre><strong>host:</strong>{{ site.domain }}{% url 'resume_api' %}</pre>
    <pre><strong>Default Username:</strong> {{ default_user }}</pre>
    <pre><strong>Default Resume:</strong> {{ default_resume }}</pre>

    <h3>Get Defaut Resume for Default User</h3>
    <pre><strong>GET</strong> /resume</pre>

    <h3>Get Default Resume for Specific User</h3>
    <pre><strong>GET</strong> /resumes/:username</pre>

    <h3>Get Specific Resume for Specific User</h3>
    <pre><strong>GET</strong> /resumes/:username/:resume_name</pre>

    <p><strong>Example Success Response</strong><br>

      <pre>  "basics": {
      "name": <span>"string",</span>
      "label": <span>"string",</span>
      "picture": <span>"string:url",</span>
      "email": <span>"string:example@example.exa",</span>
      "phone": <span>"string:5555555555",</span>
      "website": <span>"string:url",</span>
      "summary": <span>string",</span>
      "location": {
        "address": <span>"string",</span>
        "postalCode": <span>"string",</span>
        "city": <span>"string",</span>
        "countryCode": <span>"string",</span>
        "region": <span>"string"</span>
      },
      "profiles": [{
        "network": <span>"string",</span>
        "username": <span>"string",</span>
        "url": <span>"string"</span>
      }]
    },
    "work": [{
      "company": <span>"string",</span>
      "position": <span>"string",</span>
      "website": <span>"string:url",</span>
      "startDate": <span>"string:YYYY-MM-DD",</span>
      "endDate": <span>"string:YYYY-MM-DD",</span>
      "summary": <span>"string",</span>
      "highlights": [
        <span>"string"</span>
      ]
    }],
    "volunteer": [{
      "organization": <span>"string",</span>
      "position": <span>"string",</span>
      "website": <span>"string:url",</span>
      "startDate": <span>"string:YYYY-MM-DD",</span>
      "endDate": <span>"string:YYYY-MM-DD",</span>
      "summary": <span>"string",</span>
      "highlights": [
        <span>"string"</span>
      ]
    }],
    "education": [{
      "institution": <span>"string",</span>
      "area": <span>"string",</span>
      "studyType": <span>"string",</span>
      "startDate": <span>"string:YYYY-MM-DD",</span>
      "endDate": <span>"string:YYYY-MM-DD",</span>
      "gpa": <span>"string",</span>
      "courses": [
        <span>"string"</span>
      ]
    }],
    "awards": [{
      "title": <span>"string",</span>
      "date": <span>"string:YYYY-MM-DD",</span>
      "awarder": <span>"string",</span>
      "summary": <span>"string"</span>
    }],
    "publications": [{
      "name": <span>"string",</span>
      "publisher": <span>"string",</span>
      "releaseDate": <span>"string:YYYY-MM-DD",</span>
      "website": <span>"string",</span>
      "summary": <span>"string"</span>
    }],
    "skills": [{
      "name": <span>"string",</span>
      "level": <span>"string",</span>
      "keywords": [
        <span>"string",</span>
        <span>"string",</span>
        <span>"string"</span>
      ]
    }],
    "languages": [{
      "name": <span>"string",</span>
      "level": <span>"string"</span>
    }],
    "interests": [{
      "name": <span>"string",</span>
      "keywords": [
        <span>"string",</span>
        <span>"string"</span>
      ]
    }],
    "references": [{
      "name": <span>"string",</span>
      "reference": <span>"string"</span>
    }]
  </pre>
  </p>

  <h3>Get all Basic info for default</h3>
  <pre><strong>GET</strong> /resumes/basic/</pre>

  <p><strong>Example Success Response</strong><br>

  <pre>
    "basics": {
    "name": <span>"string",</span>
    "label": <span>"string",</span>
    "picture": <span>"string:url",</span>
    "email": <span>"string:example@example.exa",</span>
    "phone": <span>"string:5555555555",</span>
    "website": <span>"string:url",</span>
    "summary": <span>string",</span>
    "location": {
      "address": <span>"string",</span>
      "postalCode": <span>"string",</span>
      "city": <span>"string",</span>
      "countryCode": <span>"string",</span>
      "region": <span>"string"</span>
    },
    "profiles": [{
      "network": <span>"string",</span>
      "username": <span>"string",</span>
      "url": <span>"string"</span>
      }]
    }
  </pre>
  </p>

  <h3>Get all Social Media Profiles Data for Default User</h3>
  <pre><strong>GET</strong> /resumes/profiles/</pre>

  <h3>Get all Social Media Profiles Data for Specific User</h3>
  <pre><strong>GET</strong> /resumes/profiles/:username</pre>

  <p><strong>Example Success Response</strong><br>

  <pre>
    { "profiles": [{
        "network": <span>"string",</span>
        "username": <span>"string",</span>
        "url": <span>"string"</span>
      }]
    }
  </pre>
  </p>

  <h3>Get Work history Data for Default User/Resume</h3>
  <pre><strong>GET</strong> /resumes/work/</pre>

  <h3>Get Work history Data for Specific User's Default Resume</h3>
  <pre><strong>GET</strong> /resumes/work/:username/</pre>

  <h3>Get Work history Data for Specific User's Specific Resume</h3>
  <pre><strong>GET</strong> /resumes/work/:username/:resume_name/</pre>

  <p><strong>Example Success Response</strong><br>
  <pre>
    { "work": [{
        "company": <span>"string",</span>
        "position": <span>"string",</span>
        "website": <span>"string:url",</span>
        "startDate": <span>"string:YYYY-MM-DD",</span>
        "endDate": <span>"string:YYYY-MM-DD",</span>
        "summary": <span>"string",</span>
        "highlights": [
          <span>"string"</span>
        ]
      }]
    }
  </pre>
  </p>

  <h3>Get Volunteer history Data for Default User/Resume</h3>
  <pre><strong>GET</strong> /resumes/volunteer/</pre>

  <h3>Get Volunteer history Data for Specific User's Default Resume</h3>
  <pre><strong>GET</strong> /resumes/volunteer/:username/</pre>

  <h3>Get Volunteer history Data for Specific User's Specific Resume</h3>
  <pre><strong>GET</strong> /resumes/volunteer/:username/:resume_name/</pre>

  <p><strong>Example Success Response</strong><br>
  <pre>
    { "volunteer": [{
        "organization": <span>"string",</span>
        "position": <span>"string",</span>
        "website": <span>"string:url",</span>
        "startDate": <span>"string:YYYY-MM-DD",</span>
        "endDate": <span>"string:YYYY-MM-DD",</span>
        "summary": <span>"string",</span>
        "highlights": [
          <span>"string"</span>
        ]
      }]
    }
  </pre>
  </p>

  <h3>Get Education history Data for Default User/Resume</h3>
  <pre><strong>GET</strong> /resumes/education/</pre>

  <h3>Get Education history Data for Specific User's Default Resume</h3>
  <pre><strong>GET</strong> /resumes/education/:username/</pre>

  <h3>Get Education history Data for Specific User's Specific Resume</h3>
  <pre><strong>GET</strong> /resumes/education/:username/:resume_name/</pre>

  <p><strong>Example Success Response</strong><br>
  <pre>
    { "education": [{
        "institution": <span>"string",</span>
        "area": <span>"string",</span>
        "studyType": <span>"string",</span>
        "startDate": <span>"string:YYYY-MM-DD",</span>
        "endDate": <span>"string:YYYY-MM-DD",</span>
        "gpa": <span>"string",</span>
        "courses": [
          <span>"string"</span>
        ]
      }]
    }
  </pre>
  </p>

  <h3>Get Awards Data for Default User/Resume</h3>
  <pre><strong>GET</strong> /resumes/awards/</pre>

  <h3>Get Awards Data for Specific User's Default Resume</h3>
  <pre><strong>GET</strong> /resumes/awards/:username/</pre>

  <h3>Get Awards Data for Specific User's Specific Resume</h3>
  <pre><strong>GET</strong> /resumes/awards/:username/:resume_name/</pre>

  <p><strong>Example Success Response</strong><br>
  <pre>
    { "awards": [{
        "title": <span>"string",</span>
        "date": <span>"string:YYYY-MM-DD",</span>
        "awarder": <span>"string",</span>
        "summary": <span>"string"</span>
      }]
    }
  </pre>
  </p>

  <h3>Get Publications Data for Default User/Resume</h3>
  <pre><strong>GET</strong> /resumes/publications/</pre>

  <h3>Get Publications Data for Specific User's Default Resume</h3>
  <pre><strong>GET</strong> /resumes/publications/:username/</pre>

  <h3>Get Publications Data for Specific User's Specific Resume</h3>
  <pre><strong>GET</strong> /resumes/publications/:username/:resume_name/</pre>

  <p><strong>Example Success Response</strong><br>
  <pre>
    { "publications": [{
        "name": <span>"string",</span>
        "publisher": <span>"string",</span>
        "releaseDate": <span>"string:YYYY-MM-DD",</span>
        "website": <span>"string",</span>
        "summary": <span>"string"</span>
      }]
    }
  </pre>
  </p>

  <h3>Get Skills Data for Default User/Resume</h3>
  <pre><strong>GET</strong> /resumes/skills/</pre>

  <h3>Get Skills Data for Specific User's Default Resume</h3>
  <pre><strong>GET</strong> /resumes/skills/:username/</pre>

  <h3>Get Skills Data for Specific User's Specific Resume</h3>
  <pre><strong>GET</strong> /resumes/skills/:username/:resume_name/</pre>

  <p><strong>Example Success Response</strong><br>
  <pre>
    { "skills": [{
        "name": <span>"string",</span>
        "level": <span>"string",</span>
        "keywords": [
          <span>"string",</span>
          <span>"string",</span>
          <span>"string"</span>
        ]
      }]
    }
  </pre>
  </p>

  <h3>Get Languages Data for Default User/Resume</h3>
  <pre><strong>GET</strong> /resumes/languages/</pre>

  <h3>Get Languages Data for Specific User's Default Resume</h3>
  <pre><strong>GET</strong> /resumes/languages/:username/</pre>

  <h3>Get Languages Data for Specific User's Specific Resume</h3>
  <pre><strong>GET</strong> /resumes/languages/:username/:resume_name/</pre>

  <p><strong>Example Success Response</strong><br>
  <pre>
    { "languages": [{
        "name": <span>"string",</span>
        "level": <span>"string"</span>
      }]
    }
  </pre>
  </p>

  <h3>Get Interests Data for Default User/Resume</h3>
  <pre><strong>GET</strong> /resumes/interests/</pre>

  <h3>Get Interests Data for Specific User's Default Resume</h3>
  <pre><strong>GET</strong> /resumes/interests/:username/</pre>

  <h3>Get Interests Data for Specific User's Specific Resume</h3>
  <pre><strong>GET</strong> /resumes/interests/:username/:resume_name/</pre>

  <p><strong>Example Success Response</strong><br>
  <pre>
    { "interests": [{
        "name": <span>"string",</span>
        "keywords": [
          <span>"string",</span>
          <span>"string"</span>
        ]
      }]
    }
  </pre>
  </p>

  <h3>Get References for Default User/Resume</h3>
  <pre><strong>GET</strong> /resumes/references/</pre>

  <h3>Get References Data for Specific User's Default Resume</h3>
  <pre><strong>GET</strong> /resumes/references/:username/</pre>

  <h3>Get References Data for Specific User's Specific Resume</h3>
  <pre><strong>GET</strong> /resumes/references/:username/:resume_name/</pre>

  <p><strong>Example Success Response</strong><br>

  <pre>
    { "references": [{
        "name": <span>"string",</span>
        "reference": <span>"string"</span>
      }]
    }
  </pre>
  </p>

  <p><strong>If References are NOT published, will respond with:</strong><br>

  <pre>
    {"References Not Published" : "References are available only by request"}
  </pre>
  </p>
</div>
{% endblock %}
