{% extends 'resume_machine/profile.html' %}
{% load staticfiles %}

{% block title %}
  <title>Resume API</title>
{% endblock %}

{% block innercontent %}
    <h2>Resume API</h2>
    <div class="row">
      <div class="col m8">
        <p>
          JSON Resume is a community driven open source initiative to create
          JSON-based standard for resumes. More information can be found at
          <a href="https://jsonresume.org/" target="_blank" rel="noopener noreferrer">https://jsonresume.org</a>.
        </p>
      </div>
    </div>
    <pre><strong>host:</strong>{{ site.domain }}{% url 'resume_api' %}</pre>

    <pre><strong>example:</strong> https://www.{{ site.domain }}{% url 'resume_api' %}resume</pre>

    <h3>Get Resume <a href="https://www.{{ site.domain }}{% url 'resume_api' %}resume"><i class="material-icons">open_in_browser</i></a></h3>
    <pre><strong>GET</strong> /resume </pre>

    <p><strong>Example Success Response</strong><br>

    <div class="card-panel">
      <pre>  "basics": {
      "name": <span>"string",</span>
      "label": <span>"string",</span>
      "picture": <span>"string:url",</span>
      "email": <span>"string:example@example.exa",</span>
      "phone": <span>"string:5555555555",</span>
      "website": <span>"string:url",</span>
      "summary": <span>string",</span>
      "location": {
        "address": <span>"string",</span>
        "postalCode": <span>"string",</span>
        "city": <span>"string",</span>
        "countryCode": <span>"string",</span>
        "region": <span>"string"</span>
      },
      "profiles": [{
        "network": <span>"string",</span>
        "username": <span>"string",</span>
        "url": <span>"string"</span>
      }]
    },
    "work": [{
      "company": <span>"string",</span>
      "position": <span>"string",</span>
      "website": <span>"string:url",</span>
      "startDate": <span>"string:YYYY-MM-DD",</span>
      "endDate": <span>"string:YYYY-MM-DD",</span>
      "summary": <span>"string",</span>
      "highlights": [
        <span>"string"</span>
      ]
    }],
    "volunteer": [{
      "organization": <span>"string",</span>
      "position": <span>"string",</span>
      "website": <span>"string:url",</span>
      "startDate": <span>"string:YYYY-MM-DD",</span>
      "endDate": <span>"string:YYYY-MM-DD",</span>
      "summary": <span>"string",</span>
      "highlights": [
        <span>"string"</span>
      ]
    }],
    "education": [{
      "institution": <span>"string",</span>
      "area": <span>"string",</span>
      "studyType": <span>"string",</span>
      "startDate": <span>"string:YYYY-MM-DD",</span>
      "endDate": <span>"string:YYYY-MM-DD",</span>
      "gpa": <span>"string",</span>
      "courses": [
        <span>"string"</span>
      ]
    }],
    "awards": [{
      "title": <span>"string",</span>
      "date": <span>"string:YYYY-MM-DD",</span>
      "awarder": <span>"string",</span>
      "summary": <span>"string"</span>
    }],
    "publications": [{
      "name": <span>"string",</span>
      "publisher": <span>"string",</span>
      "releaseDate": <span>"string:YYYY-MM-DD",</span>
      "website": <span>"string",</span>
      "summary": <span>"string"</span>
    }],
    "skills": [{
      "name": <span>"string",</span>
      "level": <span>"string",</span>
      "keywords": [
        <span>"string",</span>
        <span>"string",</span>
        <span>"string"</span>
      ]
    }],
    "languages": [{
      "name": <span>"string",</span>
      "level": <span>"string"</span>
    }],
    "interests": [{
      "name": <span>"string",</span>
      "keywords": [
        <span>"string",</span>
        <span>"string"</span>
      ]
    }],
    "references": [{
      "name": <span>"string",</span>
      "reference": <span>"string"</span>
    }]
  </pre>
  </div>
  </p>

  <h3>Get All Basic Resume Data <a href="https://www.{{ site.domain }}{% url 'resume_api' %}basic"><i class="material-icons">open_in_browser</i></a> </h3>
  <pre><strong>GET</strong> /basic</pre>

  <p><strong>Example Success Response</strong><br>

  <div class="card-panel"><pre>
    "basics": {
    "name": <span>"string",</span>
    "label": <span>"string",</span>
    "picture": <span>"string:url",</span>
    "email": <span>"string:example@example.exa",</span>
    "phone": <span>"string:5555555555",</span>
    "website": <span>"string:url",</span>
    "summary": <span>string",</span>
    "location": {
      "address": <span>"string",</span>
      "postalCode": <span>"string",</span>
      "city": <span>"string",</span>
      "countryCode": <span>"string",</span>
      "region": <span>"string"</span>
    },
    "profiles": [{
      "network": <span>"string",</span>
      "username": <span>"string",</span>
      "url": <span>"string"</span>
      }]
    }
  </pre></div>
  </p>

  <h3>Get all Social Media Profiles Data <a href="https://www.{{ site.domain }}{% url 'resume_api' %}profiles"><i class="material-icons">open_in_browser</i></a> </h3>
  <pre><strong>GET</strong> /profiles</pre>

  <p><strong>Example Success Response</strong><br>

  <div class="card-panel"><pre>
    { "profiles": [{
        "network": <span>"string",</span>
        "username": <span>"string",</span>
        "url": <span>"string"</span>
      }]
    }
  </pre></div>
  </p>

  <h3>Get Work history Data <a href="https://www.{{ site.domain }}{% url 'resume_api' %}work"><i class="material-icons">open_in_browser</i></a></h3>
  <pre><strong>GET</strong> /work</pre>

  <p><strong>Example Success Response</strong><br>
  <div class="card-panel"><pre>
    { "work": [{
        "company": <span>"string",</span>
        "position": <span>"string",</span>
        "website": <span>"string:url",</span>
        "startDate": <span>"string:YYYY-MM-DD",</span>
        "endDate": <span>"string:YYYY-MM-DD",</span>
        "summary": <span>"string",</span>
        "highlights": [
          <span>"string"</span>
        ]
      }]
    }
  </pre></div>
  </p>

  <h3>Get Volunteer History Data <a href="https://www.{{ site.domain }}{% url 'resume_api' %}volunteer"><i class="material-icons">open_in_browser</i></a></h3>
  <pre><strong>GET</strong> /volunteer</pre>

  <p><strong>Example Success Response</strong><br>
  <div class="card-panel"><pre>
    { "volunteer": [{
        "organization": <span>"string",</span>
        "position": <span>"string",</span>
        "website": <span>"string:url",</span>
        "startDate": <span>"string:YYYY-MM-DD",</span>
        "endDate": <span>"string:YYYY-MM-DD",</span>
        "summary": <span>"string",</span>
        "highlights": [
          <span>"string"</span>
        ]
      }]
    }
  </pre></div>
  </p>

  <h3>Get Education History Data <a href="https://www.{{ site.domain }}{% url 'resume_api' %}education"><i class="material-icons">open_in_browser</i></a></h3>
  <pre><strong>GET</strong> /education</pre>

  <p><strong>Example Success Response</strong><br>
  <div class="card-panel"><pre>
    { "education": [{
        "institution": <span>"string",</span>
        "area": <span>"string",</span>
        "studyType": <span>"string",</span>
        "startDate": <span>"string:YYYY-MM-DD",</span>
        "endDate": <span>"string:YYYY-MM-DD",</span>
        "gpa": <span>"string",</span>
        "courses": [
          <span>"string"</span>
        ]
      }]
    }
  </pre></div>
  </p>

  <h3>Get Awards Data <a href="https://www.{{ site.domain }}{% url 'resume_api' %}awards"><i class="material-icons">open_in_browser</i></a></h3>
  <pre><strong>GET</strong> /awards</pre>

  <p><strong>Example Success Response</strong><br>
  <div class="card-panel"><pre>
    { "awards": [{
        "title": <span>"string",</span>
        "date": <span>"string:YYYY-MM-DD",</span>
        "awarder": <span>"string",</span>
        "summary": <span>"string"</span>
      }]
    }
  </pre></div>
  </p>

  <h3>Get Publications Data <a href="https://www.{{ site.domain }}{% url 'resume_api' %}publications"><i class="material-icons">open_in_browser</i></a></h3>
  <pre><strong>GET</strong> /publications</pre>

  <p><strong>Example Success Response</strong><br>
  <div class="card-panel"><pre>
    { "publications": [{
        "name": <span>"string",</span>
        "publisher": <span>"string",</span>
        "releaseDate": <span>"string:YYYY-MM-DD",</span>
        "website": <span>"string",</span>
        "summary": <span>"string"</span>
      }]
    }
  </pre></div>
  </p>

  <h3>Get Skills Data <a href="https://www.{{ site.domain }}{% url 'resume_api' %}skills"><i class="material-icons">open_in_browser</i></a></h3>
  <pre><strong>GET</strong> /skills</pre>

  <p><strong>Example Success Response</strong><br>
  <div class="card-panel"><pre>
    { "skills": [{
        "name": <span>"string",</span>
        "level": <span>"string",</span>
        "keywords": [
          <span>"string",</span>
          <span>"string",</span>
          <span>"string"</span>
        ]
      }]
    }
  </pre></div>
  </p>

  <h3>Get Languages Data <a href="https://www.{{ site.domain }}{% url 'resume_api' %}languages"><i class="material-icons">open_in_browser</i></a></h3>
  <pre><strong>GET</strong> /languages</pre>

  <p><strong>Example Success Response</strong><br>
  <div class="card-panel"><pre>
    { "languages": [{
        "name": <span>"string",</span>
        "level": <span>"string"</span>
      }]
    }
  </pre></div>
  </p>

  <h3>Get Interests Data <a href="https://www.{{ site.domain }}{% url 'resume_api' %}interests"><i class="material-icons">open_in_browser</i></a></h3>
  <pre><strong>GET</strong> /interests</pre>

  <p><strong>Example Success Response</strong><br>
  <div class="card-panel"><pre>
    { "interests": [{
        "name": <span>"string",</span>
        "keywords": [
          <span>"string",</span>
          <span>"string"</span>
        ]
      }]
    }
  </pre></div>
  </p>

  <h3>Get References <a href="https://www.{{ site.domain }}{% url 'resume_api' %}references"><i class="material-icons">open_in_browser</i></a></h3>
  <pre><strong>GET</strong> /references</pre>

  <p><strong>Example Success Response</strong><br>

  <div class="card-panel"><pre>
    { "references": [{
        "name": <span>"string",</span>
        "reference": <span>"string"</span>
      }]
    }
  </pre></div>
  </p>

  <p><strong>If References are NOT published, will respond with:</strong><br>

  <div class="card-panel"><pre>
    {"error" : "References Not Published"}
  </pre></div>
  </p>
{% endblock %}
