<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style>
      body {
        font-family: 'Open Sans', sans-serif;
      }
      p, li {
        font-size: 12px;
        padding: 0 0 0 0;
        margin-bottom: 0;
      }
      ul {
        margin-top: 0;
      }
      .indent {
        padding-left: 25px;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>{{ user.account.get_full_name }}</h1><hr>
      <div class="indent">
        <p>{{ user.account.city }}, {{ user.account.region}}, {{ user.account.countrycode }}</p>
        <p>{{ user.email }}</p>
        <p>{{ user.account.phone }}</p>
        <p>{{ user.account.website }}</p>
      </div>
      <h4>Summary<hr></h4>
      <div class="indent">
        <p>{{ user.account.summary }}</p>
      </div>
        {% for edu in resume.education.all %}
          {% if forloop.first %}
          <h4>Education<hr></h4>
          {% endif %}
          <div class="indent">
            <p><strong>{{ edu.institution }}</strong><br>
            {{ edu.studyType }} in {{ edu.area }}<br>
            {{ edu.startDate }} - {{ edu.endDate}}</p>
          </div>
        {% endfor %}

        {% for job in resume.work.all %}
        {% if forloop.first %}
          <h4>Work History<hr></h4>
        {% endif %}
          <div class="indent">
            {% if not job.volunteer %}
              <p><strong>{{ job.position }}</strong><br>
              <i>{{ job.company }}</i><br>
              {{ job.summary }}<br>
              {{ job.startDate }} - {% if job.endDate %}{{ job.endDate }}{% else %}Present{% endif %} </p>
              <ul>
                {% for highlight in job.get_work_highlights %}
                  <li>{{ highlight }}</li>
                {% endfor %}
              </ul>

            {% endif %}
          </div>
        {% endfor %}

      {% for job in resume.work.all %}
        {% if job.volunteer %}
        {% ifchanged %}
          <h4>Volunteer History<hr></h4>
        {% endifchanged %}
          <div class="indent">
            <p><strong>{{ job.position }}</strong><br>
            <i>{{ job.company }}</i><br>
            {{ job.summary }}<br>
            {{ job.startDate }} - {% if job.endDate %}{{ job.endDate }}{% else %}Present{% endif %}</p>

          </div>
        {% endif %}
      {% endfor %}

      {% for award in resume.awards.all %}
        {% ifchanged %}
          <h4>Awards<hr></h4>
        {% endifchanged %}
        <div class="indent">
          <p>
            <strong>{{ award.title }}</strong><br>
            {{ award.awarder }}<br>
            {{ award.date }}<br>
            {{ award.summary }}
          </p>
        </div>
      {% endfor %}

      {% for publication in resume.publications.all %}
        {% ifchanged %}
          <h4>Publications<hr></h4>
        {% endifchanged %}
        <div class="indent">
          <p>
            <strong>{{ publication.name }}</strong><br>
            {{ publication.publisher }}<br>
            {{ publication.releaseDate }}<br>
            {{ publication.website }}<br>
            {{ publication.summary }}
          </p>
        </div>
      {% endfor %}

      {% if resume.skills %}<h4>Skills<hr></h4>
        <div class="indent">
          {% for skill in resume.skills.all %}
            <p>
              {{ skill.name }}:
              {% for keyword in skill.keywords.all %}
                {% if forloop.last %}
                  <i>{{ keyword.word }}</i>
                {% else %}
                  <i>{{ keyword.word }}, </i>
                {% endif %}
              {% endfor %}
            </p>
          {% endfor %}
        </div>
      {% endif %}
      {% if resume.interests %}<h4>Interests<hr></h4>
        <div class="indent">
          {% for interest in resume.interests.all %}
            <p>{{ interest.name }}:
              {% for keyword in interest.keywords.all %}
                {% if forloop.last %}
                  <i>{{ keyword.word }}</i>
                {% else %}
                  <i>{{ keyword.word }}, </i>
                {% endif %}
              </p>
              {% endfor %}
          {% endfor %}
        </div>
      {% endif %}

      <h4>References<hr></h4>
      <div class="indent">
        {% if resume.publishReferences %}
          {% for reference in resume.references.all %}
            <p>{{ reference.name }} - <i>{{ reference.reference }}</i></p>
          {% endfor %}
        {% else %}
          <p>For privacy, references are available only on request</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
