{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  <title>Job Search</title>
{% endblock %}

{% block head %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'home/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'home/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="center-align">Jobs!</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Published</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in feed.entries %}
        <tr>
          <td><a href="{{ entry.link }}">{{ entry.title }}</a></td>
          <td>{{ entry.published }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
